.title_ {
  margin-top: 50px;
}
.title_ p {
  text-align: center;
  font-size: 40px;
}
.tit_ {
  margin-top: 50px;
  text-align: center;
  font-size: 18px;
}
.tit_ a {
  display: inline-block;
  width: 165px;
  padding-bottom: 15px;
  color: #acb6b5;
}
.tit_ .new_ {
  border-bottom: 4px solid #f7582b;
  color: #f7582b;
}
main {
  width: 100%;
  background-color: #f7f7f7;
}
main .content_ ul {
  width: 1000px;
  margin: 0 auto;
}
main .content_ ul li {
  float: left;
  width: 220px;
  height: 226px;
  margin-right: 15px;
  margin-top: 25px;
  margin-left: 15px;
  position: relative;
  background: url(../img/listbg.jpg) no-repeat bottom;
  background-color: #ffffff;
  border-radius: 10px;
}
main .content_ ul li div img {
  width: 100%;
  border-radius: 5px;
}
main .content_ ul li p {
  font-size: 14px;
  color: #666666;
}
main .content_ ul li .right_ {
  position: absolute;
  right: 10px;
  bottom: 13px;
}
main .content_ ul li .right_ p {
  float: left;
  width: 20px;
  text-align: right;
  font-size: 14px;
  color: #666666;
}
main .content_ ul li .right_ .xin_ {
  background: url(../img/xin.png) no-repeat 0px 4px;
  margin-right: 5px;
}
main .content_ ul li .right_ .yu_ {
  background: url(../img/reply.png) no-repeat 0px 4px;
}
main .jia_ {
  padding-top: 60px;
  text-align: center;
  padding-bottom: 54px;
}
main .jia_ span {
  color: #e5435b;
  cursor: pointer;
}
