@keyframes opac {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.title_ {
  margin-top: 50px;
}
.title_ p {
  text-align: center;
  font-size: 40px;
}
.tit_ {
  margin-top: 50px;
  text-align: center;
  font-size: 18px;
}
.tit_ a {
  display: inline-block;
  width: 165px;
  padding-bottom: 15px;
  color: #acb6b5;
}
.tit_ .new_ {
  border-bottom: 4px solid #f7582b;
  color: #f7582b;
}
main {
  width: 100%;
  background-color: #f7f7f7;
}
main .content_ {
  width: 1000px;
  margin: 0 auto;
}
main .content_ ul,
main .content_ #list {
  width: 1000px;
  margin: 0 auto;
}
main .content_ ul li,
main .content_ #list li {
  float: left;
  width: 220px;
  height: 230px;
  margin-right: 15px;
  margin-top: 25px;
  margin-left: 15px;
  background-color: #ffffff;
  border-radius: 5px;
  position: relative;
}
main .content_ ul li img,
main .content_ #list li img {
  width: 220px;
  height: 130px;
  border-radius: 5px;
  margin-bottom: 10px;
}
main .content_ ul li p,
main .content_ #list li p {
  margin-left: 10px;
  margin-bottom: 6px;
  font-size: 14px;
}
main .content_ ul li ._intro,
main .content_ #list li ._intro {
  font-size: 12px;
  color: #acb6b5;
}
main .content_ ul li div,
main .content_ #list li div {
  font-size: 14px;
  color: #f7582b;
  overflow: hidden;
  width: 220px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
main .content_ ul li div span,
main .content_ #list li div span {
  float: right;
  margin-right: 20px;
  font-size: 13px;
  color: #acb6b5;
}
main .content_ ul li div span img,
main .content_ #list li div span img {
  width: 12px;
  height: 12px;
  vertical-align: middle;
  position: relative;
  top: 4px;
}
main .content_ ul li:hover,
main .content_ #list li:hover {
  animation: opac 2s linear infinite;
}
main .jia_ {
  padding-top: 60px;
  text-align: center;
  padding-bottom: 54px;
}
main .jia_ span {
  color: #e5435b;
}
