.title-p {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  padding: 50px 0;
  color: #323232;
}
.tab-a {
  text-align: center;
  height: 34px;
}
.tab-a a {
  color: #acb6b5;
  text-align: center;
  padding: 3px 42px;
  line-height: 34px;
}
.tab-a .a-hover {
  color: #FF4034;
  border-bottom: 4px solid #FF4034;
}
.main {
  margin: 0 auto;
  width: 100%;
}
.main .main-top {
  width: 100%;
  margin: 0 auto;
  height: 50px;
  border-top: 1px solid #F2F2F2;
}
.main .main-top .ul-list {
  width: 1000px;
  float: left;
  text-align: center;
  margin-left: 500px;
}
.main .main-top .ul-list li {
  float: left;
  text-align: center;
  line-height: 50px;
}
.main .main-top .ul-list li a {
  color: #acb6b5;
  text-align: center;
  padding-right: 110px;
}
.main .main-top .ul-list li a:hover {
  color: #3F3E39;
}
.main .main-top .ul-list li .a-xuan {
  color: #3F3E39;
}
.main .main-bottom {
  width: 100%;
  background-color: #F7F7F7;
  height: auto;
}
.main .main-bottom .bottom-master {
  width: 1000px;
  margin: 0 auto;
  height: auto;
  padding-top: 25px;
}
.main .main-bottom .bottom-master ul {
  float: left;
  width: 1000px;
}
.main .main-bottom .bottom-master ul li {
  width: 220px;
  float: left;
  height: 286px;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  margin-right: 28px;
  margin-bottom: 20px;
  position: relative;
}
.main .main-bottom .bottom-master ul li .imgs {
  float: left;
}
.main .main-bottom .bottom-master ul li .imgs img {
  width: 220px;
  height: 130px;
}
.main .main-bottom .bottom-master ul li .imgs img:hover {
  animation: opac 1s ;
  animation-iteration-count: infinite;
}
@keyframes opac {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.main .main-bottom .bottom-master ul li .images {
  width: 70px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
}
.main .main-bottom .bottom-master ul li .wenzi {
  float: left;
}
.main .main-bottom .bottom-master ul li .wenzi .p-one {
  text-align: center;
  color: #332C26;
  font-weight: 600;
  padding: 5px;
  font-size: 14px;
}
.main .main-bottom .bottom-master ul li .xuanran {
  width: 220px;
  float: left;
  text-align: center;
}
.main .main-bottom .bottom-master ul li .p-two {
  text-align: center;
}
.main .main-bottom .bottom-master ul li .p-two span {
  display: inline-block;
  width: 48px;
  height: 23px;
  line-height: 23px;
  border-radius: 5px;
  color: #CECACB;
  text-align: center;
  border: 1px solid #CFCFCF;
}
.main .main-bottom .bottom-master ul li .p-two .pp-two {
  color: #80C261;
  border: 1px solid #80C261;
}
.main .main-bottom .bottom-master ul li .p-two .pp-twos {
  color: #FC5741;
  border: 1px solid #FC5741;
}
.main .main-bottom .bottom-master ul li .p-three {
  padding: 13px 0;
  text-align: center;
  color: #4A4339;
}
.main .main-bottom .bottom-master ul li .p-three span {
  color: #FF3C3C;
  text-align: center;
}
.main .main-bottom .bottom-master ul li .p-four {
  color: #CACCC9;
  font-size: 14px;
  text-align: center;
}
.main .main-bottom .bottom-master ul li .pp-four {
  color: #80C261;
}
.main .main-bottom .bottom-master ul li .pp-fours {
  color: #FC5741;
}
.main .main-bottom .bottom-master .jiazai {
  float: left;
  color: #F65648;
  text-align: center;
  margin: 30px 0;
  line-height: 50px;
  width: 100%;
  height: 50px;
  background: url(../img/more.png) no-repeat 420px 22px;
}
